@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  src: url('~@/assets/fonts/proxima_nova_regular.eot');
  src: url('~@/assets/fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/proxima_nova_regular.woff2') format('woff2'),
       url('~@/assets/fonts/proxima_nova_regular.woff') format('woff'),
       url('~@/assets/fonts/proxima_nova_regular.ttf') format('truetype');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  src: url('~@/assets/fonts/proxima_nova_bold.eot');
  src: url('~@/assets/fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/proxima_nova_bold.woff2') format('woff2'),
       url('~@/assets/fonts/proxima_nova_bold.woff') format('woff'),
       url('~@/assets/fonts/proxima_nova_bold.ttf') format('truetype');
}


@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  font-style: normal;
  src: url('~@/assets/fonts/proxima_nova_extrabold.eot');
  src: url('~@/assets/fonts/proxima_nova_extrabold.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/proxima_nova_extrabold.woff2') format('woff2'),
       url('~@/assets/fonts/proxima_nova_extrabold.woff') format('woff'),
       url('~@/assets/fonts/proxima_nova_extrabold.ttf') format('truetype');
}
