@require '~@/styles/mixins'

*
  box-sizing border-box

body
  font-family "Proxima Nova", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
  overflow-x hidden
  +media-up(lg)
    overflow-y hidden